<br>
<center>
<img src="https://raw.githubusercontent.com/elaynelemos/prediction-of-orders-dmc/main/assets/img/univasf-logo.png" width=200>
<h3>
    UNIVERSIDADE FEDERAL DO VALE DO SÃO FRANCISCO
    <br>COLEGIADO DE ENGENHARIA DE COMPUTAÇÃO
</h3>

<h3>Orientador</h3>
<span>Prof. Dr. Rosalvo Ferreira de Oliveira Neto</span>

<h3>Discentes</h3>
<span>Anísio Pereira Batista Filho
<br>Edjair Aguiar Gomes Filho
<br>Elayne Rute Lessa Lemos</span>
</center>
<br><br>

## Regressão com Redes Neurais

Projeto em: [https://github.com/anisiobfilho/regression_neuralnetworks_univasf](https://github.com/anisiobfilho/regression_neuralnetworks_univasf)

### Importação das bibliotecas

In [373]:
#OS
import os
#Numpy
import numpy as np
#Pandas
import pandas as pd
#Matplotlib
import matplotlib.pyplot as plt

### Importação das bases de dados

In [374]:
#repo_url = 'https://raw.githubusercontent.com/anisiobfilho/regression_neuralnetworks_univasf/main'

In [375]:
#ic_house_pred_train = pd.read_csv(f'{repo_url}/data/ic_house_pred_train.csv')
ic_house_pred_train = pd.read_csv('data/ic_house_pred_train.csv')
ic_house_pred_train.sample(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1018,1131,50,RL,65.0,7804,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,12,2009,WD,Normal,135000
861,1349,20,RL,NaN,16196,Pave,NaN,IR3,Low,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,215000
464,517,80,RL,NaN,10448,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,GdPrv,NaN,0,8,2009,COD,Abnorml,158000
884,892,60,RL,70.0,11184,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2009,WD,Normal,172500
9,159,60,FV,100.0,12552,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,5,2010,WD,Normal,254900

In [376]:
#ic_house_pred_test = pd.read_csv(f'{repo_url}/data/ic_house_pred_test.csv')
ic_house_pred_test = pd.read_csv('data/ic_house_pred_test.csv')
ic_house_pred_test.sample(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
390,1401,50,RM,50.0,6000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2008,WD,Normal,120000
373,535,60,RL,74.0,9056,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2006,WD,Normal,178000
195,608,20,RL,78.0,7800,Pave,NaN,Reg,Bnk,AllPub,...,0,NaN,NaN,NaN,0,8,2006,WD,Normal,225000
412,1324,30,RL,50.0,5330,Pave,NaN,Reg,HLS,AllPub,...,0,NaN,NaN,NaN,0,12,2009,WD,Normal,82500
255,1422,120,RL,53.0,4043,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2010,WD,Normal,127500

### Separação da base em features e variável alvo

In [377]:
ic_house_pred_train_X = ic_house_pred_train.drop(columns='SalePrice')
ic_house_pred_train_X.sample(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
254,184,50,RM,63.0,11426,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2008,WD,Normal
511,506,90,RM,60.0,7596,Pave,Grvl,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,7,2009,COD,Normal
184,623,20,RL,71.0,7064,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,7,2009,WD,Normal
195,825,20,FV,81.0,11216,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,New,Partial
783,1309,20,RM,100.0,12000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,GdWo,NaN,0,5,2008,WD,Normal

In [378]:
ic_house_pred_train_y = pd.DataFrame(ic_house_pred_train['SalePrice'], columns=['SalePrice'])
ic_house_pred_train_y.sample(5)

      SalePrice
193      306000
441      303477
1018     135000
45       147000
477      133000

In [379]:
ic_house_pred_test_X = ic_house_pred_test.drop(columns='SalePrice')
ic_house_pred_test_X.sample(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
107,721,120,RL,NaN,6563,Pave,NaN,IR1,Low,AllPub,...,0,0,NaN,NaN,NaN,0,12,2006,WD,Normal
167,262,60,RL,69.0,9588,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2007,New,Partial
338,156,50,RL,60.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2008,WD,Normal
165,844,90,RL,80.0,8000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,7,2007,WD,Normal
6,219,50,RL,NaN,15660,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2008,WD,Normal

In [380]:
ic_house_pred_test_y = pd.DataFrame(ic_house_pred_test['SalePrice'], columns=['SalePrice'])
ic_house_pred_test_y.sample(5)

     SalePrice
375     119900
270     465000
212     128950
290     108000
351     380000

### Eliminar a variável irrelevante PID (Nominal): Parcel identification number

In [381]:
ic_house_pred_train_X.drop(columns='Id', inplace=True)
ic_house_pred_train_X.sample(5)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
600,50,RM,60.0,9600,Pave,Grvl,Reg,Lvl,AllPub,Inside,...,0,0,NaN,GdWo,NaN,0,7,2007,WD,Normal
264,60,RL,72.0,11317,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,9,2007,WD,Normal
963,60,RL,73.0,8499,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,3,2007,New,Partial
207,60,RL,56.0,20431,Pave,NaN,IR2,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,4,2006,New,Partial
26,20,RL,NaN,11341,Pave,NaN,IR1,Lvl,AllPub,Inside,...,95,0,NaN,NaN,NaN,0,5,2010,WD,Normal

In [382]:
ic_house_pred_test_X.drop(columns='Id', inplace=True)
ic_house_pred_test_X.sample(5)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
135,20,RL,96.0,12456,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,0,7,2009,WD,Normal
436,50,RL,67.0,12354,Pave,Grvl,Reg,Lvl,AllPub,Corner,...,0,0,NaN,GdPrv,Shed,800,8,2009,ConLI,Normal
80,160,RM,21.0,1680,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,5,2009,WD,Normal
130,60,RL,64.0,8320,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
348,60,RL,NaN,11029,Pave,NaN,IR1,Lvl,AllPub,Corner,...,222,0,NaN,NaN,NaN,0,8,2006,WD,Normal

### Tratamento dos Missing Values (Apenas colocar para a média)

In [383]:
# replace_missing_by_fixed_value() é baseado na solução proposta no Estudo de Caso
# do livro Ciência dos Dados pelo Processo de KDD do Prof. Dr. Rosalvo Neto
# livro em: https://www.researchgate.net/publication/352749819_Ciencia_dos_Dados_pelo_Processo_de_KDD
# implementação em: https://github.com/rosalvoneto/Livro

def replace_missing_by_fixed_value(df, value, features):
    for column in features:
        df[column].fillna(value, inplace=True)

    return df

In [384]:
# replace_missing_by_mean() é baseado na solução proposta no Estudo de Caso
# do livro Ciência dos Dados pelo Processo de KDD do Prof. Dr. Rosalvo Neto
# Livro em: https://www.researchgate.net/publication/352749819_Ciencia_dos_Dados_pelo_Processo_de_KDD
# implementação em: https://github.com/rosalvoneto/Livro

def replace_missing_by_mean(df, numeric_features):
    for column in numeric_features:
        average = df[column].mean(axis=0)
        df[column].fillna(average, inplace=True)
    
    return df

In [385]:
print(ic_house_pred_train_X.columns.values)

['MSSubClass' 'MSZoning' 'LotFrontage' 'LotArea' 'Street' 'Alley'
 'LotShape' 'LandContour' 'Utilities' 'LotConfig' 'LandSlope'
 'Neighborhood' 'Condition1' 'Condition2' 'BldgType' 'HouseStyle'
 'OverallQual' 'OverallCond' 'YearBuilt' 'YearRemodAdd' 'RoofStyle'
 'RoofMatl' 'Exterior1st' 'Exterior2nd' 'MasVnrType' 'MasVnrArea'
 'ExterQual' 'ExterCond' 'Foundation' 'BsmtQual' 'BsmtCond' 'BsmtExposure'
 'BsmtFinType1' 'BsmtFinSF1' 'BsmtFinType2' 'BsmtFinSF2' 'BsmtUnfSF'
 'TotalBsmtSF' 'Heating' 'HeatingQC' 'CentralAir' 'Electrical' '1stFlrSF'
 '2ndFlrSF' 'LowQualFinSF' 'GrLivArea' 'BsmtFullBath' 'BsmtHalfBath'
 'FullBath' 'HalfBath' 'BedroomAbvGr' 'KitchenAbvGr' 'KitchenQual'
 'TotRmsAbvGrd' 'Functional' 'Fireplaces' 'FireplaceQu' 'GarageType'
 'GarageYrBlt' 'GarageFinish' 'GarageCars' 'GarageArea' 'GarageQual'
 'GarageCond' 'PavedDrive' 'WoodDeckSF' 'OpenPorchSF' 'EnclosedPorch'
 '3SsnPorch' 'ScreenPorch' 'PoolArea' 'PoolQC' 'Fence' 'MiscFeature'
 'MiscVal' 'MoSold' 'YrSold' 'SaleType' 'SaleCondition']

In [386]:

# FEATURES:
nominal_features = ['MSSubClass', 'MSZoning', 'Street', 'Alley', 'LandContour', 
                    'LotConfig', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
                    'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 
                    'MasVnrType', 'Foundation', 'Heating', 'CentralAir', 'GarageType', 
                    'MiscFeature', 'SaleType', 'SaleCondition']

ordinal_features = ['LotShape', 'Utilities',  'LandSlope', 'OverallQual', 'OverallCond', 
                    'ExterQual', 'ExterCond', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 
                    'BsmtFinType1', 'BsmtFinType2', 'HeatingQC', 'Electrical', 'KitchenQual', 
                    'Functional', 'FireplaceQu', 'GarageFinish', 'GarageQual', 'GarageCond', 
                    'PavedDrive', 'PoolQC', 'Fence']

discrete_features = ['YearBuilt', 'YearRemodAdd', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 
                     'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 
                     'GarageYrBlt', 'GarageCars', 'MoSold', 'YrSold']

continuous_features = ['LotFrontage', 'LotArea', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 
                       'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 
                       'GrLivArea', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', 
                       '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal']


print("LENGHT:\n\tNominal: %d\n\tOrdinal: %d\n\tDiscrete: %d\n\tContinuous: %d" % (len(nominal_features), len(ordinal_features), len(discrete_features), len(continuous_features)))

LENGHT:
	Nominal: 23
	Ordinal: 23
	Discrete: 14
	Continuous: 19

#### ic_house_pred_train

In [387]:
ic_house_pred_train_X.columns[ic_house_pred_train_X.isnull().any()]

Index(['LotFrontage', 'Alley', 'MasVnrType', 'MasVnrArea', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Electrical', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence',
       'MiscFeature'],
      dtype='object')

In [388]:
ic_house_pred_train_X = replace_missing_by_fixed_value(ic_house_pred_train_X, 'ausente', nominal_features)
ic_house_pred_train_X = replace_missing_by_fixed_value(ic_house_pred_train_X, 'ausente', ordinal_features)

ic_house_pred_train_X = replace_missing_by_mean(ic_house_pred_train_X, discrete_features)
ic_house_pred_train_X = replace_missing_by_mean(ic_house_pred_train_X, continuous_features)

In [389]:
ic_house_pred_train_X.columns[ic_house_pred_train_X.isnull().any()]

Index([], dtype='object')

In [390]:
ic_house_pred_train_X.sample(5)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
870,30,RL,60.0,10800,Pave,Grvl,Reg,Lvl,AllPub,Inside,...,0,0,ausente,ausente,ausente,0,6,2006,WD,Normal
851,60,FV,75.0,9000,Pave,ausente,Reg,Lvl,AllPub,Inside,...,0,0,ausente,ausente,ausente,0,12,2007,WD,Normal
683,120,RL,40.0,6792,Pave,ausente,IR1,Lvl,AllPub,Inside,...,0,0,ausente,ausente,ausente,0,3,2006,New,Partial
314,50,RM,40.0,4400,Pave,ausente,Reg,Lvl,AllPub,Inside,...,0,0,ausente,ausente,ausente,0,10,2006,WD,Normal
781,50,RM,51.0,6120,Pave,ausente,Reg,Lvl,AllPub,Inside,...,0,0,ausente,ausente,ausente,0,4,2008,WD,Abnorml

#### ic_house_pred_test

In [391]:
ic_house_pred_test_X.columns[ic_house_pred_test_X.isnull().any()]

Index(['LotFrontage', 'Alley', 'MasVnrType', 'MasVnrArea', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'FireplaceQu', 'GarageType', 'GarageYrBlt', 'GarageFinish',
       'GarageQual', 'GarageCond', 'PoolQC', 'Fence', 'MiscFeature'],
      dtype='object')

In [392]:
ic_house_pred_test_X = replace_missing_by_fixed_value(ic_house_pred_test_X, 'ausente', nominal_features)
ic_house_pred_test_X = replace_missing_by_fixed_value(ic_house_pred_test_X, 'ausente', ordinal_features)

ic_house_pred_test_X = replace_missing_by_mean(ic_house_pred_test_X, discrete_features)
ic_house_pred_test_X = replace_missing_by_mean(ic_house_pred_test_X, continuous_features)

In [393]:
ic_house_pred_test_X.columns[ic_house_pred_test_X.isnull().any()]

Index([], dtype='object')

In [394]:
ic_house_pred_test_X.sample(5)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
312,45,RL,55.000000,10594,Pave,ausente,Reg,Lvl,AllPub,Inside,...,0,0,ausente,MnPrv,ausente,0,6,2007,WD,Normal
87,120,RL,69.317073,5271,Pave,ausente,IR1,Low,AllPub,Inside,...,184,0,ausente,ausente,ausente,0,12,2006,WD,Abnorml
267,120,RM,69.317073,4435,Pave,ausente,Reg,Lvl,AllPub,Inside,...,0,0,ausente,ausente,ausente,0,6,2009,WD,Normal
34,20,RL,116.000000,13501,Pave,ausente,IR1,Lvl,AllPub,Corner,...,0,0,ausente,ausente,ausente,0,6,2007,WD,Normal
141,20,RL,70.000000,13300,Pave,ausente,Reg,Lvl,AllPub,Inside,...,0,0,ausente,ausente,ausente,0,6,2007,WD,Normal

### Criação de variáveis Dummies

In [395]:
ic_house_pred_train_X = pd.get_dummies(ic_house_pred_train_X, prefix_sep ='_', drop_first = True)
ic_house_pred_train_X.sample(5)

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
509,90,70.000,7728,5,6,1962,1962,120.0,803,0,...,0,0,0,0,1,0,0,0,1,0
89,80,65.000,8385,5,8,1977,1977,220.0,595,0,...,0,0,0,0,1,0,0,0,1,0
914,20,88.000,11394,9,2,2010,2010,350.0,1445,0,...,0,0,1,0,0,0,0,0,0,1
91,120,70.375,4426,6,5,2004,2004,169.0,662,0,...,0,0,0,0,1,0,0,0,1,0
574,160,24.000,2280,6,6,1976,1976,0.0,566,0,...,0,0,0,0,1,0,0,0,1,0

In [396]:
ic_house_pred_test_X = pd.get_dummies(ic_house_pred_test_X, prefix_sep ='_', drop_first = True)
ic_house_pred_test_X.sample(5)

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLD,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
258,60,65.0,7153,6,5,1992,1992,0.0,387,0,...,0,0,0,0,0,1,0,0,1,0
19,20,72.0,10665,7,5,2003,2003,167.0,1013,0,...,0,0,0,0,0,1,0,0,1,0
98,20,73.0,8990,7,5,2006,2006,0.0,0,0,...,0,0,0,1,0,0,0,0,0,1
63,20,75.0,14587,9,5,2008,2008,284.0,0,0,...,0,0,0,1,0,0,0,0,0,1
81,30,60.0,8967,5,2,1920,1950,0.0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [397]:
# O código abaixo é baseado na solução proposta no Estudo de Caso
# do livro Ciência dos Dados pelo Processo de KDD do Prof. Dr. Rosalvo Neto
# livro em: https://www.researchgate.net/publication/352749819_Ciencia_dos_Dados_pelo_Processo_de_KDD
# implementação em: https://github.com/rosalvoneto/Livro

# Verificar as variáveis que estão no conjunto de treinamento e não estão no conjunto de teste;
# Verificar as variáveis que estão no conjunto de teste e não estão no conjunto de treinamento.

var_TRN = list(ic_house_pred_train_X.columns)
var_TST = list(ic_house_pred_test_X.columns)

In_TRN_Not_TST = np.setdiff1d(var_TRN, var_TST)
In_TST_Not_TRN = np.setdiff1d(var_TST, var_TRN)

if len(In_TRN_Not_TST)>0:
    print('Variáveis que estão apenas no Treinamento:\n')
    print(In_TRN_Not_TST)
else:
    print('Todas as variáveis do Treinamento estão no Teste!')
    
if len(In_TST_Not_TRN)>0:
    print('\nVariáveis que estão apenas no Teste:\n')
    print(In_TST_Not_TRN)
else:
    print('\nTodas as variáveis do Teste estão no Treinamento!')

Variáveis que estão apenas no Treinamento:

['Condition1_RRNn' 'Condition2_Feedr' 'Condition2_PosN' 'Condition2_RRAe'
 'Condition2_RRAn' 'Electrical_FuseP' 'Electrical_ausente' 'ExterCond_Po'
 'Exterior1st_AsphShn' 'Exterior1st_BrkComm' 'Exterior1st_CBlock'
 'Exterior2nd_CBlock' 'Exterior2nd_Other' 'Foundation_Wood'
 'Functional_Sev' 'GarageCond_Fa' 'GarageQual_Fa' 'HeatingQC_Po'
 'Heating_GasA' 'Heating_OthW' 'MiscFeature_TenC' 'PoolQC_Fa'
 'RoofMatl_CompShg' 'RoofMatl_Metal' 'RoofMatl_Roll' 'RoofStyle_Shed'
 'SaleCondition_AdjLand' 'SaleType_CWD' 'SaleType_Con' 'Utilities_NoSeWa']

Variáveis que estão apenas no Teste:

['Condition2_PosA' 'Condition2_RRNn' 'Electrical_Mix'
 'Exterior1st_ImStucc' 'RoofMatl_Membran']

In [398]:
# Adicionando as colunas faltantes em ambos os Dataframes

for column_name in In_TRN_Not_TST:
    ic_house_pred_test_X[column_name] = 0
    
for column_name in In_TST_Not_TRN:
    ic_house_pred_train_X[column_name] = 0

In [399]:
ic_house_pred_train_X.sample(5)

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,Condition2_PosA,Condition2_RRNn,Electrical_Mix,Exterior1st_ImStucc,RoofMatl_Membran
530,20,60.000,8400,4,4,1950,1950,0.0,0,0,...,0,0,0,1,0,0,0,0,0,0
33,20,60.000,7200,5,7,1950,1950,0.0,0,0,...,0,0,0,1,0,0,0,0,0,0
1004,120,63.000,8849,9,5,2005,2005,616.0,28,0,...,0,0,0,1,0,0,0,0,0,0
738,20,57.000,7677,5,5,1953,1953,0.0,570,0,...,0,0,0,0,0,0,0,0,0,0
154,60,70.375,11075,5,4,1969,1969,232.0,562,193,...,0,0,0,1,0,0,0,0,0,0

In [400]:
ic_house_pred_test_X.sample(5)

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,MiscFeature_TenC,PoolQC_Fa,RoofMatl_CompShg,RoofMatl_Metal,RoofMatl_Roll,RoofStyle_Shed,SaleCondition_AdjLand,SaleType_CWD,SaleType_Con,Utilities_NoSeWa
129,60,78.0,10140,7,5,1976,1976,0.0,194,0,...,0,0,0,0,0,0,0,0,0,0
133,75,92.0,5520,6,6,1912,1950,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
240,30,60.0,8520,6,8,1928,2003,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
350,75,75.0,13500,10,9,1893,2000,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
108,20,57.0,9245,5,5,1994,1995,0.0,686,0,...,0,0,0,0,0,0,0,0,0,0

### Normalização das variáveis

In [401]:
# uniformização de valores numéricos
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

ic_house_pred_train_X_norm = scaler.fit_transform(ic_house_pred_train_X)
ic_house_pred_test_X_norm = scaler.fit_transform(ic_house_pred_test_X)

In [402]:
ic_house_pred_train_X[ic_house_pred_train_X.columns] = ic_house_pred_train_X_norm
ic_house_pred_train_X.sample(5)

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,Condition2_PosA,Condition2_RRNn,Electrical_Mix,Exterior1st_ImStucc,RoofMatl_Membran
147,0.176471,0.106164,0.023090,0.444444,0.750,0.420290,0.700000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
521,0.823529,0.030822,0.007946,0.555556,0.500,0.992754,0.983333,0.055152,0.052091,0.000000,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
731,0.176471,0.195205,0.075734,0.555556,0.500,0.550725,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
637,0.000000,0.167808,0.036458,0.444444,0.500,0.623188,0.133333,0.000000,0.092310,0.154392,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
712,0.294118,0.167808,0.043329,0.777778,0.875,0.434783,0.733333,0.000000,0.052622,0.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [403]:
ic_house_pred_test_X[ic_house_pred_test_X.columns] = ic_house_pred_test_X_norm
ic_house_pred_test_X.sample(5)

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,MiscFeature_TenC,PoolQC_Fa,RoofMatl_CompShg,RoofMatl_Metal,RoofMatl_Roll,RoofStyle_Shed,SaleCondition_AdjLand,SaleType_CWD,SaleType_Con,Utilities_NoSeWa
433,0.000000,0.320261,0.096506,0.375,0.571429,0.619403,0.700000,0.000000,0.386654,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.941176,0.000000,0.006424,0.250,0.571429,0.708955,0.333333,0.000000,0.059872,0.338535,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
426,0.588235,0.150327,0.070449,0.625,0.428571,1.000000,1.000000,0.080000,0.335009,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
287,0.058824,0.189542,0.064010,0.250,0.714286,0.462687,0.833333,0.271875,0.076782,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
213,0.823529,0.084967,0.025105,0.500,0.428571,0.925373,0.816667,0.558750,0.174132,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Eliminação de variáveis que contém valores constantes

In [404]:
# O código abaixo é baseado na solução proposta no Estudo de Caso
# do livro Ciência dos Dados pelo Processo de KDD do Prof. Dr. Rosalvo Neto
# livro em: https://www.researchgate.net/publication/352749819_Ciencia_dos_Dados_pelo_Processo_de_KDD
# implementação em: https://github.com/rosalvoneto/Livro

# É informando o limiar de variância - abaixo ou igual a esse limiar a variável será excluída dos dois conjuntos
threshold_var = 0

# Criando uma lista com as variáveis do conjunto de treinamento que tem variância inferior ou igual ao threshold_var
l_var = [x for x in ic_house_pred_train_X.columns if ic_house_pred_train_X[x].var() <= threshold_var]

# Eliminando as variáveis constante dos dois conjuntos
for v in l_var:
    ic_house_pred_train_X = ic_house_pred_train_X.drop([v], axis = 1)
    ic_house_pred_test_X = ic_house_pred_test_X.drop([v], axis = 1)

print(f"Varáveis excluídas: {l_var}")

Varáveis excluídas: ['Condition2_PosA', 'Condition2_RRNn', 'Electrical_Mix', 'Exterior1st_ImStucc', 'RoofMatl_Membran']

In [405]:
ic_house_pred_train_X.sample(5)

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
846,0.000000,0.239726,0.060777,0.777778,0.5,0.884058,0.733333,0.402032,0.232814,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
255,0.411765,0.208904,0.045666,0.666667,0.5,0.840580,0.650000,0.050798,0.000000,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
414,0.000000,0.184932,0.030671,0.555556,0.5,0.992754,0.983333,0.000000,0.004784,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
597,0.588235,0.169092,0.008862,0.777778,0.5,0.949275,0.883333,0.029028,0.000000,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
686,0.235294,0.126712,0.072308,0.666667,0.5,0.913043,0.800000,0.021771,0.000000,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [406]:
ic_house_pred_test_X.sample(5)

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,MiscFeature_TenC,PoolQC_Fa,RoofMatl_CompShg,RoofMatl_Metal,RoofMatl_Roll,RoofStyle_Shed,SaleCondition_AdjLand,SaleType_CWD,SaleType_Con,Utilities_NoSeWa
141,0.000000,0.320261,0.170478,0.375,0.714286,0.604478,0.833333,0.000000,0.172303,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
435,0.235294,0.287582,0.095770,0.625,0.571429,0.985075,0.950000,0.062486,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
232,0.000000,0.254902,0.084322,0.500,0.571429,0.626866,0.150000,0.129375,0.189214,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
329,0.000000,0.326797,0.113498,0.250,0.428571,0.708955,0.333333,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
222,0.000000,0.385621,0.165916,0.375,0.571429,0.761194,0.450000,0.286875,0.586380,0.099729,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Transformação da variável alvo com a função logaritmo natural np.log(x)

In [407]:
ic_house_pred_train_y_log = pd.DataFrame(np.log(ic_house_pred_train_y['SalePrice']), columns=['SalePrice'])
ic_house_pred_train_y_log.sample(5)

     SalePrice
493  12.043554
167  11.669074
519  11.198215
725  11.813030
558  12.081076

In [408]:
ic_house_pred_test_y_log = pd.DataFrame(np.log(ic_house_pred_test_y['SalePrice']), columns=['SalePrice'])
ic_house_pred_test_y_log.sample(5)

     SalePrice
339  12.111762
331  12.013701
64   12.554837
135  12.729321
359  12.765688

### Exportar duas bases de dados:

In [409]:
path = 'data/preprocessed'
if not os.path.exists(path):
    os.mkdir(path)

ic_house_pred_train_X.to_csv(f'{path}/ic_house_pred_train_X.csv', index=False)
ic_house_pred_train_y.to_csv(f'{path}/ic_house_pred_train_y.csv', index=False)
ic_house_pred_train_y_log.to_csv(f'{path}/ic_house_pred_train_y_log.csv', index=False)

ic_house_pred_test_X.to_csv(f'{path}/ic_house_pred_test_X.csv', index=False)
ic_house_pred_test_y.to_csv(f'{path}/ic_house_pred_test_y.csv', index=False)
ic_house_pred_test_y_log.to_csv(f'{path}/ic_house_pred_test_y_log.csv', index=False)