<br>
<center>
<img src="https://raw.githubusercontent.com/elaynelemos/prediction-of-orders-dmc/main/assets/img/univasf-logo.png" width=200>
<h3>
    UNIVERSIDADE FEDERAL DO VALE DO SÃO FRANCISCO
    <br>COLEGIADO DE ENGENHARIA DE COMPUTAÇÃO
</h3>

<h3>Orientador</h3>
<span>Prof. Dr. Rosalvo Ferreira de Oliveira Neto</span>

<h3>Discentes</h3>
<span>Anísio Pereira Batista Filho
<br>Edjair Aguiar Gomes Filho
<br>Elayne Rute Lessa Lemos</span>
</center>
<br><br>

## Regressão com Redes Neurais

Projeto em: [https://github.com/anisiobfilho/regression_neuralnetworks_univasf](https://github.com/anisiobfilho/regression_neuralnetworks_univasf)

### Importação das bibliotecas

In [1]:
#OS
import os
#Numpy
import numpy as np
#Pandas
import pandas as pd
#Matplotlib
import matplotlib.pyplot as plt

### Importação das bases de dados

In [2]:
#repo_url = 'https://raw.githubusercontent.com/anisiobfilho/regression_neuralnetworks_univasf/main'

In [3]:
#ic_house_pred_train = pd.read_csv(f'{repo_url}/data/ic_house_pred_train.csv')
ic_house_pred_train = pd.read_csv('data/ic_house_pred_train.csv')
ic_house_pred_train.sample(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
928,493,60,RL,105.0,15578,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2006,New,Partial,172785
765,153,60,RL,NaN,14803,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,6,2006,WD,Normal,190000
429,1027,20,RL,73.0,9300,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,167500
390,1388,50,RM,60.0,8520,Pave,Grvl,Reg,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,8,2007,CWD,Family,136000
673,575,80,RL,70.0,10500,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,12,2007,WD,Normal,139000

In [4]:
#ic_house_pred_test = pd.read_csv(f'{repo_url}/data/ic_house_pred_test.csv')
ic_house_pred_test = pd.read_csv('data/ic_house_pred_test.csv')
ic_house_pred_test.sample(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
229,712,50,C (all),66.0,8712,Pave,Pave,Reg,HLS,AllPub,...,0,NaN,NaN,NaN,0,1,2010,WD,Abnorml,102776
340,1111,60,RL,NaN,8000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,188000
181,813,20,C (all),66.0,8712,Grvl,NaN,Reg,Bnk,AllPub,...,0,NaN,NaN,Shed,54,6,2010,WD,Alloca,55993
122,1135,60,RL,57.0,8773,Pave,NaN,IR1,HLS,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,169000
167,262,60,RL,69.0,9588,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2007,New,Partial,276000

### Separação da base em features e variável alvo

In [5]:
ic_house_pred_train_X = ic_house_pred_train.drop(columns='SalePrice')
ic_house_pred_train_X.sample(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
674,51,60,RL,NaN,13869,Pave,NaN,IR2,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,7,2007,WD,Normal
805,147,30,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2009,WD,Normal
794,263,80,RL,88.0,8471,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,GdWo,NaN,0,7,2006,WD,Normal
367,1430,20,RL,NaN,12546,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2007,WD,Normal
470,168,60,RL,86.0,10562,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2007,New,Partial

In [6]:
ic_house_pred_train_y = pd.DataFrame(ic_house_pred_train['SalePrice'], columns=['SalePrice'])
ic_house_pred_train_y.sample(5)

     SalePrice
864     165000
630     187500
361     172500
938     142500
462     152000

In [7]:
ic_house_pred_test_X = ic_house_pred_test.drop(columns='SalePrice')
ic_house_pred_test_X.sample(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
350,584,75,RM,75.0,13500,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,7,2008,WD,Normal
17,1103,20,RL,70.0,7000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnWw,NaN,0,4,2007,WD,Family
330,189,90,RL,64.0,7018,Pave,NaN,Reg,Bnk,AllPub,...,0,0,NaN,NaN,NaN,0,6,2009,WD,Alloca
220,778,20,RL,100.0,13350,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,6,2006,WD,Normal
101,1241,60,RL,65.0,8158,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,7,2008,WD,Normal

In [8]:
ic_house_pred_test_y = pd.DataFrame(ic_house_pred_test['SalePrice'], columns=['SalePrice'])
ic_house_pred_test_y.sample(5)

     SalePrice
177     187500
75      173000
294      85000
48      451950
276     137500

### Eliminar a variável irrelevante PID (Nominal): Parcel identification number

In [9]:
ic_house_pred_train_X.drop(columns='Id', inplace=True)
ic_house_pred_train_X.sample(5)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
5,80,RL,82.0,9020,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,0,NaN,GdPrv,NaN,0,6,2008,WD,Normal
800,120,RL,53.0,4043,Pave,NaN,Reg,Lvl,AllPub,Inside,...,200,0,NaN,NaN,NaN,0,10,2008,COD,Abnorml
398,20,RL,75.0,10215,Pave,NaN,Reg,Bnk,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,2,2007,WD,Normal
238,70,RL,53.0,10918,Pave,NaN,Reg,Lvl,AllPub,Inside,...,145,0,NaN,MnPrv,NaN,0,6,2009,WD,Normal
48,20,RL,77.0,10010,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Normal

In [10]:
ic_house_pred_test_X.drop(columns='Id', inplace=True)
ic_house_pred_test_X.sample(5)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
303,80,RL,85.0,13400,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,GdWo,NaN,0,6,2006,WD,Normal
228,60,RL,NaN,9130,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,7,2008,WD,Normal
205,80,RL,75.0,9750,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,10,2006,WD,Normal
111,20,RL,60.0,8430,Pave,NaN,Reg,HLS,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,8,2009,WD,Normal
351,60,RL,105.0,13693,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,3,2007,WD,Normal

### Tratamento dos Missing Values (Apenas colocar para a média)

In [11]:
# replace_missing_by_fixed_value() é baseado na solução proposta no Estudo de Caso
# do livro Ciência dos Dados pelo Processo de KDD do Prof. Dr. Rosalvo Neto
# livro em: https://www.researchgate.net/publication/352749819_Ciencia_dos_Dados_pelo_Processo_de_KDD
# implementação em: https://github.com/rosalvoneto/Livro

def replace_missing_by_fixed_value(df, value, features):
    for column in features:
        df[column].fillna(value, inplace=True)

    return df

In [12]:
# replace_missing_by_mean() é baseado na solução proposta no Estudo de Caso
# do livro Ciência dos Dados pelo Processo de KDD do Prof. Dr. Rosalvo Neto
# Livro em: https://www.researchgate.net/publication/352749819_Ciencia_dos_Dados_pelo_Processo_de_KDD
# implementação em: https://github.com/rosalvoneto/Livro

def replace_missing_by_mean(df, numeric_features):
    for column in numeric_features:
        average = df[column].mean(axis=0)
        df[column].fillna(average, inplace=True)
    
    return df

In [13]:
print(ic_house_pred_train_X.columns.values)

['MSSubClass' 'MSZoning' 'LotFrontage' 'LotArea' 'Street' 'Alley'
 'LotShape' 'LandContour' 'Utilities' 'LotConfig' 'LandSlope'
 'Neighborhood' 'Condition1' 'Condition2' 'BldgType' 'HouseStyle'
 'OverallQual' 'OverallCond' 'YearBuilt' 'YearRemodAdd' 'RoofStyle'
 'RoofMatl' 'Exterior1st' 'Exterior2nd' 'MasVnrType' 'MasVnrArea'
 'ExterQual' 'ExterCond' 'Foundation' 'BsmtQual' 'BsmtCond' 'BsmtExposure'
 'BsmtFinType1' 'BsmtFinSF1' 'BsmtFinType2' 'BsmtFinSF2' 'BsmtUnfSF'
 'TotalBsmtSF' 'Heating' 'HeatingQC' 'CentralAir' 'Electrical' '1stFlrSF'
 '2ndFlrSF' 'LowQualFinSF' 'GrLivArea' 'BsmtFullBath' 'BsmtHalfBath'
 'FullBath' 'HalfBath' 'BedroomAbvGr' 'KitchenAbvGr' 'KitchenQual'
 'TotRmsAbvGrd' 'Functional' 'Fireplaces' 'FireplaceQu' 'GarageType'
 'GarageYrBlt' 'GarageFinish' 'GarageCars' 'GarageArea' 'GarageQual'
 'GarageCond' 'PavedDrive' 'WoodDeckSF' 'OpenPorchSF' 'EnclosedPorch'
 '3SsnPorch' 'ScreenPorch' 'PoolArea' 'PoolQC' 'Fence' 'MiscFeature'
 'MiscVal' 'MoSold' 'YrSold' 'SaleType' 'SaleCondition']

In [14]:

# FEATURES:
nominal_features = ['MSSubClass', 'MSZoning', 'Street', 'Alley', 'LandContour', 
                    'LotConfig', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
                    'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 
                    'MasVnrType', 'Foundation', 'Heating', 'CentralAir', 'GarageType', 
                    'MiscFeature', 'SaleType', 'SaleCondition']

ordinal_features = ['LotShape', 'Utilities',  'LandSlope', 'OverallQual', 'OverallCond', 
                    'ExterQual', 'ExterCond', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 
                    'BsmtFinType1', 'BsmtFinType2', 'HeatingQC', 'Electrical', 'KitchenQual', 
                    'Functional', 'FireplaceQu', 'GarageFinish', 'GarageQual', 'GarageCond', 
                    'PavedDrive', 'PoolQC', 'Fence']

discrete_features = ['YearBuilt', 'YearRemodAdd', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 
                     'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 
                     'GarageYrBlt', 'GarageCars', 'MoSold', 'YrSold']

continuous_features = ['LotFrontage', 'LotArea', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 
                       'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 
                       'GrLivArea', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', 
                       '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal']


print("LENGHT:\n\tNominal: %d\n\tOrdinal: %d\n\tDiscrete: %d\n\tContinuous: %d" % (len(nominal_features), len(ordinal_features), len(discrete_features), len(continuous_features)))

LENGHT:
	Nominal: 23
	Ordinal: 23
	Discrete: 14
	Continuous: 19

#### ic_house_pred_train

In [15]:
ic_house_pred_train_X.columns[ic_house_pred_train_X.isnull().any()]

Index(['LotFrontage', 'Alley', 'MasVnrType', 'MasVnrArea', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Electrical', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence',
       'MiscFeature'],
      dtype='object')

In [16]:
ic_house_pred_train_X = replace_missing_by_fixed_value(ic_house_pred_train_X, 'ausente', nominal_features)
ic_house_pred_train_X = replace_missing_by_fixed_value(ic_house_pred_train_X, 'ausente', ordinal_features)

ic_house_pred_train_X = replace_missing_by_mean(ic_house_pred_train_X, discrete_features)
ic_house_pred_train_X = replace_missing_by_mean(ic_house_pred_train_X, continuous_features)

In [17]:
ic_house_pred_train_X.columns[ic_house_pred_train_X.isnull().any()]

Index([], dtype='object')

In [18]:
ic_house_pred_train_X.sample(5)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
835,120,RL,43.000,3010,Pave,ausente,Reg,Lvl,AllPub,Inside,...,0,0,ausente,ausente,ausente,0,3,2006,New,Partial
334,50,RL,70.375,12513,Pave,ausente,IR1,Lvl,AllPub,FR2,...,0,0,ausente,ausente,ausente,0,6,2009,WD,Normal
394,60,RL,82.000,9950,Pave,ausente,IR1,Lvl,AllPub,Inside,...,0,0,ausente,ausente,ausente,0,6,2007,WD,Abnorml
168,60,RL,70.375,8963,Pave,ausente,IR1,Lvl,AllPub,Inside,...,0,0,ausente,ausente,ausente,0,7,2008,WD,Normal
578,70,RL,86.000,22420,Pave,ausente,IR1,Lvl,AllPub,Inside,...,0,0,ausente,ausente,ausente,0,11,2007,WD,Normal

#### ic_house_pred_test

In [19]:
ic_house_pred_test_X.columns[ic_house_pred_test_X.isnull().any()]

Index(['LotFrontage', 'Alley', 'MasVnrType', 'MasVnrArea', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'FireplaceQu', 'GarageType', 'GarageYrBlt', 'GarageFinish',
       'GarageQual', 'GarageCond', 'PoolQC', 'Fence', 'MiscFeature'],
      dtype='object')

In [20]:
ic_house_pred_test_X = replace_missing_by_fixed_value(ic_house_pred_test_X, 'ausente', nominal_features)
ic_house_pred_test_X = replace_missing_by_fixed_value(ic_house_pred_test_X, 'ausente', ordinal_features)

ic_house_pred_test_X = replace_missing_by_mean(ic_house_pred_test_X, discrete_features)
ic_house_pred_test_X = replace_missing_by_mean(ic_house_pred_test_X, continuous_features)

In [21]:
ic_house_pred_test_X.columns[ic_house_pred_test_X.isnull().any()]

Index([], dtype='object')

In [22]:
ic_house_pred_test_X.sample(5)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
416,20,RL,120.000000,9560,Pave,ausente,IR1,Lvl,AllPub,Corner,...,0,0,ausente,ausente,ausente,0,6,2006,WD,Normal
325,20,RL,69.317073,9991,Pave,ausente,IR1,Lvl,AllPub,Corner,...,0,0,ausente,GdWo,ausente,0,6,2009,WD,Normal
52,160,RM,69.317073,2665,Pave,ausente,Reg,Lvl,AllPub,Inside,...,0,0,ausente,ausente,ausente,0,6,2008,WD,Normal
113,70,RM,51.000000,6120,Pave,ausente,Reg,Lvl,AllPub,Inside,...,0,0,ausente,ausente,ausente,0,5,2007,WD,Normal
102,20,RL,95.000000,13651,Pave,ausente,IR1,Lvl,AllPub,Inside,...,0,0,ausente,ausente,ausente,0,2,2007,WD,Normal

### Criação de variáveis Dummies

In [23]:
ic_house_pred_train_X = pd.get_dummies(ic_house_pred_train_X, prefix_sep ='_', drop_first = True)
ic_house_pred_train_X.sample(5)

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
67,20,80.0,11600,6,5,1960,1960,175.0,565,0,...,0,0,0,0,1,0,0,0,1,0
1016,20,80.0,9600,8,5,1981,1981,0.0,1104,0,...,0,0,0,0,1,0,0,0,1,0
826,50,50.0,7000,6,6,1924,1950,0.0,617,0,...,0,0,0,0,0,0,0,0,1,0
253,20,89.0,10991,8,5,2007,2007,80.0,0,0,...,0,0,1,0,0,0,0,0,0,1
101,80,120.0,19296,6,5,1962,1962,399.0,672,690,...,0,0,0,0,1,0,0,0,1,0

In [24]:
ic_house_pred_test_X = pd.get_dummies(ic_house_pred_test_X, prefix_sep ='_', drop_first = True)
ic_house_pred_test_X.sample(5)

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLD,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
371,60,69.317073,8121,6,5,2000,2000,0.0,0,0,...,0,0,0,0,0,1,0,0,1,0
101,60,65.000000,8158,7,5,2003,2003,252.0,550,0,...,0,0,0,0,0,1,0,0,1,0
151,60,69.000000,7590,6,5,1966,1966,266.0,512,0,...,0,0,0,0,0,1,0,0,1,0
280,60,65.000000,14006,7,5,2002,2002,144.0,0,0,...,0,0,0,0,0,1,0,0,1,0
148,85,60.000000,7200,5,8,1972,2003,0.0,660,0,...,0,0,0,0,0,1,0,0,1,0

In [25]:
# O código abaixo é baseado na solução proposta no Estudo de Caso
# do livro Ciência dos Dados pelo Processo de KDD do Prof. Dr. Rosalvo Neto
# livro em: https://www.researchgate.net/publication/352749819_Ciencia_dos_Dados_pelo_Processo_de_KDD
# implementação em: https://github.com/rosalvoneto/Livro

# Verificar as variáveis que estão no conjunto de treinamento e não estão no conjunto de teste;
# Verificar as variáveis que estão no conjunto de teste e não estão no conjunto de treinamento.

var_TRN = list(ic_house_pred_train_X.columns)
var_TST = list(ic_house_pred_test_X.columns)

In_TRN_Not_TST = np.setdiff1d(var_TRN, var_TST)
In_TST_Not_TRN = np.setdiff1d(var_TST, var_TRN)

if len(In_TRN_Not_TST)>0:
    print('Variáveis que estão apenas no Treinamento:\n')
    print(In_TRN_Not_TST)
else:
    print('Todas as variáveis do Treinamento estão no Teste!')
    
if len(In_TST_Not_TRN)>0:
    print('\nVariáveis que estão apenas no Teste:\n')
    print(In_TST_Not_TRN)
else:
    print('\nTodas as variáveis do Teste estão no Treinamento!')

Variáveis que estão apenas no Treinamento:

['Condition1_RRNn' 'Condition2_Feedr' 'Condition2_PosN' 'Condition2_RRAe'
 'Condition2_RRAn' 'Electrical_FuseP' 'Electrical_ausente' 'ExterCond_Po'
 'Exterior1st_AsphShn' 'Exterior1st_BrkComm' 'Exterior1st_CBlock'
 'Exterior2nd_CBlock' 'Exterior2nd_Other' 'Foundation_Wood'
 'Functional_Sev' 'GarageCond_Fa' 'GarageQual_Fa' 'HeatingQC_Po'
 'Heating_GasA' 'Heating_OthW' 'MiscFeature_TenC' 'PoolQC_Fa'
 'RoofMatl_CompShg' 'RoofMatl_Metal' 'RoofMatl_Roll' 'RoofStyle_Shed'
 'SaleCondition_AdjLand' 'SaleType_CWD' 'SaleType_Con' 'Utilities_NoSeWa']

Variáveis que estão apenas no Teste:

['Condition2_PosA' 'Condition2_RRNn' 'Electrical_Mix'
 'Exterior1st_ImStucc' 'RoofMatl_Membran']

In [26]:
# Adicionando as colunas faltantes em ambos os Dataframes

for column_name in In_TRN_Not_TST:
    ic_house_pred_test_X[column_name] = 0
    
for column_name in In_TST_Not_TRN:
    ic_house_pred_train_X[column_name] = 0

In [27]:
ic_house_pred_train_X.sample(5)

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,Condition2_PosA,Condition2_RRNn,Electrical_Mix,Exterior1st_ImStucc,RoofMatl_Membran
858,75,60.0,9600,6,5,1917,1950,0.0,319,0,...,0,0,0,1,0,0,0,0,0,0
508,20,65.0,7150,5,5,1967,1967,60.0,432,0,...,0,0,0,1,0,0,0,0,0,0
332,20,70.0,10500,4,6,1971,1971,0.0,524,180,...,0,0,0,0,0,0,0,0,0,0
643,20,80.0,11900,6,5,1957,1957,387.0,1040,0,...,0,0,0,1,0,0,0,0,0,0
886,20,40.0,13673,5,5,1962,1962,0.0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [28]:
ic_house_pred_test_X.sample(5)

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,MiscFeature_TenC,PoolQC_Fa,RoofMatl_CompShg,RoofMatl_Metal,RoofMatl_Roll,RoofStyle_Shed,SaleCondition_AdjLand,SaleType_CWD,SaleType_Con,Utilities_NoSeWa
165,90,80.000000,8000,5,4,1961,1961,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
304,20,82.000000,11880,7,5,1978,1978,206.0,704,0,...,0,0,0,0,0,0,0,0,0,0
341,20,60.000000,7200,5,8,1950,2002,0.0,398,149,...,0,0,0,0,0,0,0,0,0,0
154,30,60.000000,9786,3,4,1922,1950,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
363,60,69.317073,29959,7,6,1994,1994,0.0,595,0,...,0,0,0,0,0,0,0,0,0,0

### Normalização das variáveis

In [29]:
# uniformização de valores numéricos
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

ic_house_pred_train_X_norm = scaler.fit_transform(ic_house_pred_train_X)
ic_house_pred_test_X_norm = scaler.fit_transform(ic_house_pred_test_X)

In [30]:
ic_house_pred_train_X[ic_house_pred_train_X.columns] = ic_house_pred_train_X_norm
ic_house_pred_train_X.sample(5)

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,Condition2_PosA,Condition2_RRNn,Electrical_Mix,Exterior1st_ImStucc,RoofMatl_Membran
120,0.352941,0.277397,0.041562,0.666667,0.625,0.695652,0.700000,0.103774,0.000000,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.323529,0.277397,0.068069,0.666667,0.250,0.347826,0.333333,0.000000,0.092665,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
452,0.235294,0.205479,0.045077,0.666667,0.500,0.884058,0.733333,0.325109,0.177179,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
116,0.000000,0.202055,0.059361,0.555556,0.875,0.565217,0.900000,0.000000,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
579,0.176471,0.099315,0.035991,0.555556,0.625,0.471014,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
ic_house_pred_test_X[ic_house_pred_test_X.columns] = ic_house_pred_test_X_norm
ic_house_pred_test_X.sample(5)

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,MiscFeature_TenC,PoolQC_Fa,RoofMatl_CompShg,RoofMatl_Metal,RoofMatl_Roll,RoofStyle_Shed,SaleCondition_AdjLand,SaleType_CWD,SaleType_Con,Utilities_NoSeWa
226,0.176471,0.254902,0.086748,0.250,0.285714,0.335821,0.000000,0.000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
327,0.000000,0.254902,0.082417,0.625,0.428571,0.977612,0.933333,0.000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
216,0.588235,0.209150,0.035095,0.625,0.428571,0.977612,0.950000,0.045,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
130,0.235294,0.281046,0.098585,0.625,0.428571,0.962687,0.900000,0.000,0.223949,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
350,0.323529,0.352941,0.173365,1.000,1.000000,0.134328,0.833333,0.000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Transformação da variável alvo com a função logaritmo natural np.log(x)

In [32]:
ic_house_pred_train_y_log = pd.DataFrame(np.log(ic_house_pred_train_y['SalePrice']), columns=['SalePrice'])
ic_house_pred_train_y_log.sample(5)

     SalePrice
556  12.095141
515  11.589887
966  12.354493
749  11.982929
77   11.812289

In [33]:
ic_house_pred_test_y_log = pd.DataFrame(np.log(ic_house_pred_test_y['SalePrice']), columns=['SalePrice'])
ic_house_pred_test_y_log.sample(5)

     SalePrice
235  11.941944
273  11.350407
265  12.273731
22   12.063933
353  12.100712

### Exportar duas bases de dados:

In [34]:
path = 'data/preprocessed'
if not os.path.exists(path):
    os.mkdir(path)

ic_house_pred_train_X.to_csv(f'{path}/ic_house_pred_train_X.csv', index=False)
ic_house_pred_train_y.to_csv(f'{path}/ic_house_pred_train_y.csv', index=False)
ic_house_pred_train_y_log.to_csv(f'{path}/ic_house_pred_train_y_log.csv', index=False)

ic_house_pred_test_X.to_csv(f'{path}/ic_house_pred_test_X.csv', index=False)
ic_house_pred_test_y.to_csv(f'{path}/ic_house_pred_test_y.csv', index=False)
ic_house_pred_test_y_log.to_csv(f'{path}/ic_house_pred_test_y_log.csv', index=False)